.{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://lh3.googleusercontent.com/drive-storage/AJQWtBMvem73O7A4_0pv3Er9PeQYPyBWCo9tSnWVDn0fQkUNZ-tXvEdvc5KX6zQs0oVGXWQejX0lJB20dZ4MNvIQao5FiW1B2FuMJsFpre-8uv6mCw=w1349-h607);
}
img{
    width: 100px; 

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}